/* aboutus.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f7fafc, #edf2f7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  div {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin: 0;
  }
  h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
  }
  
  h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #3b82f6; /* A nice blue color */
    margin: 10px auto 0;
    border-radius: 2px;
  }
  
  @media (max-width: 768px) {
    div {
      padding: 15px;
    }
  
    h2 {
      font-size: 1rem;
    }
  }
  